

body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    /**background: #A2D2FF;**/
    background: linear-gradient(#A2D2FF, #5a6fc1);
    color: #FFFFFF;
}

#pics{
    width: 150px;
    border-radius: 50%;
    border: 5px solid #5a6fc1;
}

h1, h2, h3, h4, p{
    text-shadow: 0 0px 1px black;
}

#bday-year{
    background: #5a6fc1;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0px 5px o;
}

#bday-date{
    background: #5a6fc1;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gift-image{
    background-size: cover;
    width: 400px;
    height: 400px;
    /* border: 6px solid white; */
    margin: 0 auto;
}

#first-gift{
    background-image: url("assets/images/gift-cover.png");
}

#first-gift:hover{
    background-image: url("assets/images/happybday.webp"); 
}
#second-gift{
    background-image: url("assets/images/gift-cover.png");
}

#second-gift:hover{
    background-image: url("assets/images/hugs.gif"); 
}
#genius{
    background-image: url("assets/images/gift-cover.png");
}

#genius:hover{
    background-image: url("assets/images/genius.gif"); 
}
#badass{
    background-image: url("assets/images/gift-cover.png");
}

#badass:hover{
    background-image: url("assets/images/badass.gif"); 
}
#cheers{
    background-image: url("assets/images/gift-cover.png");
    height: 200px;
    padding-bottom: 30px;
}

#cheers:hover{
    background-image: url("assets/images/cheers.gif"); 
}

.footer{
    width: 400px;
    margin: 30px auto 20px;
    font-style: italic;

}

a{
    color: inherit;
    text-decoration: none;
}

/* .socials{
    background-color: grey;
    height: 100px;
} */


  .socials li{
    border: 1px solid #0f226d;
    padding-top: 2px;
    margin-right: 2px;
    width: 35px;
    height: 30px; 
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 5px;
    transition: all 0.5s;
}
.socials li:hover{
    border: 1px solid white;
    color: white;
    transition: all 0.5s;
}

video{
    width: 300px;
    height: 360px;
    margin: 10px;
}