

body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    /**background: #A2D2FF;**/
    background: linear-gradient(blue, pink);
    color: #FFFFFF;
}

#pics{
    width: 150px;
    border-radius: 50%;
    border: 5px solid #EFB0C9;
}

h1, h2, h3, h4, p{
    text-shadow: 0 0px 1px black;
}

#bday-year{
    background: #EFB0C9;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0px 5px o;
}

#bday-date{
    background: #EFB0C9;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gift-image{
    background-size: cover;
    width: 400px;
    height: 400px;
    /* border: 6px solid white; */
    margin: 0 auto;
}

#first-gift{
    background-image: url("assets/images/gift-cover.png");
}

#first-gift:hover{
    background-image: url("assets/images/happybday.webp"); 
}
#second-gift{
    background-image: url("assets/images/gift-cover.png");
}

#second-gift:hover{
    background-image: url("assets/images/hugs.gif"); 
}
#genius{
    background-image: url("assets/images/gift-cover.png");
}

#genius:hover{
    background-image: url("assets/images/genius.gif"); 
}
#badass{
    background-image: url("assets/images/gift-cover.png");
}

#badass:hover{
    background-image: url("assets/images/badass.gif"); 
}
#cheers{
    background-image: url("assets/images/gift-cover.png");
    height: 200px;
    padding-bottom: 30px;
}

#cheers:hover{
    background-image: url("assets/images/cheers.gif"); 
}

.footer{
    width: 400px;
    margin: 30px auto 20px;
    font-style: italic;
}

a{
    color: inherit;
}
